@{
    ViewBag.Title = "About";
}
<h2></h2>
<h3 style="text-align:center">Электронная библиотека</h3>

<p>
    Поиск, чтение онлайн и скачивание книг доступна как зарегистрированным, так и анонимным посетителям. Но лучше все-таки зарегистрироваться, это расширяет ваши возможности: будет отключена реклама, появятся права на выкачку всех произведений автора одним файлом, выбор формата скачиваемой книги, доступ к иноязычной литературе, возможность участвовать в форумах, добавлять и оценивать книги и многое прочее.
</p>
<p>
    Даже взрослые люди порой представляют себя средневековыми рыцарями или могучими варварами, прекрасными принцессами и героинями любовных романов. Человеческая фантазия необъятна, а мозг нуждается в постоянной подпитке и пище для размышлений. Ведь так чудесно вернувшись после совсем обычной работы в совсем обычную квартиру представлять иные миры, улетать в космические странствия, переживать сложные жизненные ситуация с героями романов. Именно такую возможность каждому дает удивительный мир книг. С любимыми книгами Вы можете прожить сотни жизней, побывать в тех местах, куда вряд ли попадете в реальности, совершить удивительные приключения и подвиги, оказаться в сложных жизненных ситуациях и с честью из них выйти.
    Чтение нельзя заменить ни чем! В процессе чтения активно работает ассоциативное мышление, которое не работает во время просмотра фильма, ведь все и так уже создано и картинка не формируется. Когда смотришь фильм, снятый по прочтенной книге, удивляешься несоответствию киношных героев, тем , которых представлял себе при чтении. Невозможно проникнуться до конца духом литературного произведения посмотрев фильм, лучше прочесть оригинал.
</p>
<p>В 2016-м домашние библиотеки любителей литературы активно пополнялись новинками и переизданиями. Фаворитами в жанрах фэнтези и фантастики стали «Игра престолов» Джорджа Мартина, «Созерцатель» Алексея Пехова, «Сказки Старого Вильнюса» Макса Фрая, долгожданный «Гарри Поттер и Проклятое дитя» Джоан Роулинг, «Наука Плоского Мира» Терри Пратчетта, «Кваzи» Сергея Лукьяненко и др.</p> 
   
