@{
    ViewBag.Title = "Contact";
}
<h3 style="text-align:center">Контакты</h3>
<p style="text-align:center">Мы рады помочь людям найти нужную и полезную информацию. А значит, мы готовы прислушаться к вашим пожеланиям по улучшению проекта и будем рады реализовать интересные предложения. Мы постараемся воплотить в жизнь ваши мечты.</p>

<address>
    Для покупки книг можете связаться с нами по телефону или адресу:<br />
    220085 Беларусь Минск, ул. Плеханова 55<br />
    <abbr title="Phone">Наши контакты:</abbr>
    +37529697-00-02
    +37517275-90-90
</address>

<address>
    <strong>Наш email:</strong>   <a href="#">bibliot@eka.com</a><br />
  
</address>