@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="fancyimage" data-fancybox-group="group" href="~/Content/1.jpg">
                <img class="img-responsive" src="~/Content/1.jpg" />
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="fancyimage" data-fancybox-group="group" href="~/Content/2.jpg">
                <img class="img-responsive" src="~/Content/2.jpg" />
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="fancyimage" data-fancybox-group="group" href="~/Content/3.jpg">
                <img class="img-responsive" src="~/Content/3.jpg" />
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="fancyimage" data-fancybox-group="group" href="~/Content/10.jpg">
                <img class="img-responsive" src="~/Content/10.jpg" />
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="fancyimage" data-fancybox-group="group" href="~/Content/5.jpg">
                <img class="img-responsive" src="~/Content/5.jpg" />
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="fancyimage" data-fancybox-group="group" href="~/Content/6.jpg">
                <img class="img-responsive" src="~/Content/6.jpg" />
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="fancyimage" data-fancybox-group="group" href="~/Content/7.jpg">
                <img class="img-responsive" src="~/Content/7.jpg" />
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="fancyimage" data-fancybox-group="group" href="~/Content/9.jpg">
                <img class="img-responsive" src="~/Content/9.jpg" />
            </a>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("a.fancyimage").fancybox();
    });
</script>